<div class="row">
  <div class="col-xs-12">
    <div id="video" class="content">
      <h2>{{ data.show.title }}</h2>
      
      <div id="video-container" ng-if="data.show.youtube_url">
        <iframe width="640" height="360" src="{{ trustSrc(data.show.youtube_url) }}" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div style="display: none;" id="video-detail">
        <div id="video-detail-header">
          <h5>Description</h5>
            <div id="attachment" ng-if="data.show.attachment.url">
              <span class="glyphicon glyphicon-paperclip"></span>&nbsp;
              <a href="#">application.rb</a>
            </div>
        </div>
        <p>{{ data.show.description }}</p>
      </div>
      
      <span id="btn-more"><i class="fa fa-chevron-up fa-chevron-down"></i></i></span>
    </div>
  </div>
</div>

<script>
  $("#btn-more").on("click", function(e){
    e.preventDefault();
    $("#video-detail").slideToggle(100);
    $(this).find("i").toggleClass("fa-chevron-down")
  });
</script>
