<tr>
  <td><%= show.id %></td>
  <td><%= link_to show.title, [:admin, show] %></td>
  <td>
    <%= link_to "<i class=\"fa fa-lg fa-pencil-square-o\"></i>".html_safe, edit_admin_show_path(show) %>&nbsp;
    <%= link_to "<i class=\"fa fa-lg fa-trash-o\"></i>".html_safe, [:admin, show], method: :delete, data: {confirm: "Are you sure?"} %>
  </td>
</tr>
