<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 group content">
    <h2>All Shows</h2>
    <table class="custom-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Setting</th>
        </tr>
      </thead>
      <tbody id="all_shows">
        <%= render @shows %>
      </tbody>
    </table>
    <hr />
    <%= link_to "Add New", new_admin_show_path, id: "btn_new_show", class: "btn btn-primary", remote: true %>
  </div>
</div>

<div id="new_show"></div>
