@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$bodyColor: #202020;
$borderColor: #494949;
$headerColor: #292929;
$mainTextColor: #CCCCCC;
$brightWhileColor: #FFFFFF;
$yellowForeColor: #FBAF22;
$yellowBackColor: rgba(251, 175, 34, 0.6);
$lightBlueColor: #337AB7;
$blueBackColor: rgba(0, 109, 255, 0.7);
$black: #000000;

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: $bodyColor;
}

hr {
  border-color: $borderColor;
}

a {
  color: #999;
  &:hover, &:active, &:focus {
    color: #eee;
  }
}

#header, #main, #header a, #main a {
  font-size: 14px;
}

#footer {
  font-size: 12px;
}

#search input {
  color: #999;
  border-style: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

#signin-with {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    float: left;
    width: 49%;
    margin-right: 0.5%;
    &:last-child {
      margin-left: 0.5%;
    }
    i {
      padding-top: 3px;
    }
  }
}

#video {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 1px #474747;
  border-radius: 3px;
  h2 {
    font-size: 1.571428571em; // 22px / 14px;
    margin: 0;
    padding: 10px;
    background-color: $lightBlueColor;
    margin-bottom: 10px;
    border-bottom: 1px solid #202020;
  }

  #video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow:hidden;

    iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border: 1px solid #474747;
      box-shadow: 0 0 1px #fff;
    }
  }

  #video-detail {
    margin-top: 5px;
    padding: 10px;
    color: #bbb;
    #video-detail-header {
      overflow: hidden;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #474747;
      h5 {
        float: left;
        margin: 0;
        padding: 0;
        color: #eee;
      }

      #attachment {
        float: right;
        margin: 0;
        padding: 0;
        text-align: right;
        a {
          color: #eee;
        }
      }
    }
    p {
      text-indent: 2em;
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  #btn-more {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #202020;
    text-decoration: none;
  }
}

div.pagination {
  padding: 0;
  margin: 0;
}

.pagination {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}

#comment {
  width: 640px;
  margin: 0 auto;
  h2, h4 {
    text-align: center;
  }

  #comment-body {
    padding: 15px;
    margin-bottom: 30px;
  }
 }

#infinite-scrolling {
  text-align: center;
  *zoom: 1;
  display: block;
}

.pagination:before,
.pagination:after {
  display: table;
  content: "";
}
.pagination:after {
  clear: both;
}
.pagination li {
  display: none;
  &:first-child, &:last-child {
    display: inline;
  }
}
.pagination a {
  display: inline-block;
  padding: 5px 14px;
  background-color: $headerColor !important;
  border: 1px solid #474747 !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pagination .next {
  float: right;
}
.pagination .prev {
  float: left;
}

.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
}

div.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

div.ng-enter-active {
  opacity: 1;
}

.card {
  position: relative;
  margin-bottom: 30px;
  > a {
    height: 170px;
    display: block;
    border: 1px solid #474747;
    box-shadow: 0 0 1px #fff;
    &:hover {
      border: 1px solid #fff;
    }
  }

  div {
    height: 100%;
    background-size: 100% 100%;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    a {
      top: 5px;
      left: 20px;
      margin: 0;
      padding: 0;
      position: absolute;
      text-transform: capitalize;
      color: #eee;
      font-size: 1.285714286em; // 18px / 14px
      font-weight: bold;
    }

    span {
      font-size: 1em; // 14px / 14px
      top: 7px;
      right: 20px;
      position: absolute;
    }
  }
}

.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.form-control {
  color: #eee;
  outline: none;
  border-radius: 0;
  border-style: none;
  border-bottom: 1px solid $borderColor;
  background-color: transparent;
}

.form-control:focus {
  box-shadow: none;
}

.checkbox {
  float: right;
  position: relative;
  top: -8px;
  input {
    border-style: none;
  }
}

.btn-extend {
  border-radius: 0;
  width: 100%;
}

.custom-file-input {
  label {
    color: #999;
    font-weight: normal;
    display: block;
    cursor: pointer;
  }
  input[type=file] {
    width: 0;
    height: 0;
    &:focus {
      outline: none;
    }
  }
}

.custom-table {
  table-layout: fixed;
  width: 100%;
  thead {
    border-bottom: 1px solid #474747;
  }

  tr {
    border-bottom: 1px solid #474747;
  }

  th, td {
    overflow: hidden;
    width: 65%;
  }

  th:first-child, td:first-child {
    width: 10%;
  }

  th:last-child, td:last-child {
    width: auto;
  }

  th {
    padding: 10px;
  }

  td {
    padding: 5px 10px;
  }
}

.btn-add {
  color: #00AC35;
  display: block;
  float: right;
  margin-top: 10px;
  &:hover {
    color: #028A2C;
  }
}

.fa-pencil-square-o {
  color: #00AC35;
  &:hover {
    color: #028A2C;
  }
}

.fa-trash-o {
  color: #E92815;
  &:hover {
    color: #C92211;
  }
}

.group {
  padding: 10px;
  border: 1px solid $borderColor;
  > h2 {
    margin: -11px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    background-color: $lightBlueColor;
  }
}

.content {
  background-color: #313131;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.navbar-custom {
  color: #999;
  border-radius: 0;
  border-color: $headerColor;
  background-color: $headerColor;
}

.navbar-custom .navbar-nav > li.active a {
  border-color: $borderColor;
  background-color: $lightBlueColor;
}

.navbar-custom .dropdown.open > a:focus {
  background-color: $lightBlueColor;
}

.dropdown-inverse {
  background-color: $headerColor;
  border-color: $borderColor;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: $lightBlueColor;
    }
  }
  &>.divider {
    background-color: $borderColor;
  }
}

.flash {
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.flash-success, .flash-notice {
  color: #2C9B2D;
  border-color: $borderColor;
}

.flash-error, .flash-alert {
  color: #C9302C;
  border-color: $borderColor;
}

.field_with_errors {
  input {
    border-color: #C9302C;
  }
  .message {
    font-weight: normal;
    float: right;
    color: #C9302C;
  }
}

.validation-errors {
  list-style: none;
  li {
    color: #C9302C;
  }
}

input:-webkit-autofill {
  color: $mainTextColor !important;
  -webkit-box-shadow:0 0 0 50px $bodyColor inset;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }

  #header, #header a, #main, #main a {
    font-size: 12px;
  }

  #footer {
    font-size: 10px;
  }

  #video {
    width: 100%;
  }

  #comment {
    width: 100%;
  }
}
