<div class="col-xs-6 col-sm-6 col-md-4 card">
  <h3>
    <%= link_to show.title, show %>
    <span><%= show.duration %></span>
  </h3>
  <%= link_to show do %>
    <div style="background: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= image_path show.thumbnail.url %>); background-size: 100% 100%;"></div>
  <% end %>
</div>
