<div id="shows"  class="row">
  <div ng-if="!shows">
    <%= render @shows %>
  </div>
  <div ng-animate="'animate'" ng-repeat="show in shows" ng-if-"shows">
    <div class="col-xs-6 col-sm-6 col-md-4 card">
      <h3>
        <a href="/shows/{{show.id}}">{{show.title}}</a>
        <span>{{show.duration}}</span>
      </h3>
      <a href="/shows/{{show.id}}">
        <div style="background: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{show.thumbnail.url}}); background-size: 100% 100%;"></div>
      </a>
    </div>
  </div>
</div>

<div id="infinite-scrolling" ng-if="!shows">
  <%= will_paginate @shows %>
</div>
