<div id="header">
  <ul>
    <li id="logo"><%= link_to "Showcase", root_path %></li>
    <li class="link">
      <a href="#">Language</a>
      <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
      </ul>
    </li>
    <li class="link">
      <a href="#">Level</a>
      <ul>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 1</a></li>
      </ul>
    </li>
    <li id="search">
      <form class="form form-inline">
        <input type="text" placeholder="&#xf002;" />
      </form>
    </li>
    <li class="link pull-right small border">
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
    <li class="link pull-right small">
      <%= link_to "Sign In", new_user_session_path %>
    </li>
  </ul>
</div>
